### 문자열 내장함수(#3)
#### 문자열 내장함수(#4)
## 문자열 내장함수(#2)
# 문자열 내장함수(#1)

In [3]:
# 문자열을 대, 소문자 변경

a_text = "Hello world"

# upper() : 모든 문자열을 대문자로 변경
print(a_text.upper())
# lower() : 모든 문자열을 소문자로 변경
print(a_text.lower())
# swapcase() : 대문자를 소문자로 소문자를 대문자로 변경
print(a_text.swapcase())
# title() : 단어의 첫글자를 대문자로 변경
print(a_text.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [4]:
# 공백을 제거하는 함수
# strip() : 문자열의 좌우의 공백을 제거
# lstrip() : 문자열 좌측의 공백을 제거
# rstrip() : 문자열 우측의 공백을 제거
b_text = " Hello world "
print(b_text)

 Hello world

In [5]:
b_text

' Hello world '

In [6]:
# 좌우의 공백을 제거
b_text.strip()

'Hello world'

In [7]:
# 좌측의 공백을 제거
b_text.lstrip()

'Hello world '

In [8]:
# 우측의 공백을 제거
b_text.rstrip()

' Hello world'

In [9]:
c_text = "$$Hello%%"
print(c_text)

$$Hello%%

In [10]:
# 좌측의 $를 제거
c_text.lstrip('$')

'Hello%%'

In [12]:
# 우측의 %를 제거
c_text.rstrip('%')

'$$Hello'

In [16]:
# replace({치환을 할 문자열}, {치환이 될 문자열})
c_text = 'Hello World'
c_text.replace('Hello', 'H1')

'H1 World'

In [17]:
# replace()함수를 이용하여 문자열의 공백을 제거
d_text = " Hello World "
d_text

' Hello World '

In [18]:
d_text.replace(" ", "")

'HelloWorld'

In [19]:
# split() : 특정한 문자열을 이용하여 문자열을 나눠주는 함수
e_text = "a,b,c,d"
e_text.split(',')

['a', 'b', 'c', 'd']

In [20]:
f_text = 'a/b/c/d'
f_text.split('/')

['a', 'b', 'c', 'd']

In [21]:
a = 'Hello'
a.find('b')

-1

### 함수
어떠한 입력값을 가지고 작업을 실행하고 결과물을 출력한다.

In [22]:
# 매개변수가 존재하지 않는 함수를 생성
# 매개변수가 존재하지 않으면 함수를 동일한 행동을 반복
def func_1():
    result = "Hello"
    return result

In [23]:
print(func_1())
print(func_1())
print(func_1())

Hello
Hello
Hello

In [26]:
# 매개변수가 존재하는 함수를 생성
def func_2(a, b):
    result = a + b
    return result

In [27]:
# 매개변수가 2개인 함수를 호출 -> 해당하는 함수를 호출을 할때는 인자의 개수가 2개
print(func_2(4, 5)) # 9
print(func_2(1, 2)) # 3

9
3

In [28]:
# error code
# 매개변수의 개수와 인자의 개수를 다르게 호출하는 경우
print(func_2(5))

TypeError: func_2() missing 1 required positional argument: 'b'

In [29]:
# 함수를 생성할 때 매개변수에 기본값을 지정
def func_3(a, b = 2):
    result = a ** b
    return result

In [30]:
print(func_3(5, 3))  # 125
print(func_3(8)) # 64

125
64

In [32]:
def func_4(input_x, input_y):
    result = input_x - input_y
    return result

In [35]:
print(func_4(10, 3))  # 7
print(func_4(input_y = 10, input_x = 3))  # -7

7
-7

In [40]:
# 함수 생성
# 매개변수는 2개 -> start, end
# start부터 시작해서 end까지의 누적합을 출력
# start의 기본값은 1, end의 기본값은 10
def func_5(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정
    result = 0
    
    # start부터 end까지 반복을 하는 반복문을 생성
    for i in range(start, end+1, 1):
        # result = result + 1
        result += i
        # for문 종료 후
        return result

In [42]:
print(func_5())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1):
#   result = result + i  --> result = 0 + 1
#   return result --> result를 되돌려주고 함수를 종료

1

In [47]:
def func_6(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정
    result = 0
    
    # start부터 end까지 반복을 하는 반복문을 생성
    for i in range(start, end+1, 1):
        # result = result + 1
        result += i
    # for문 종료 후
    return result

In [48]:
print(func_6())
# start = 1, end =10, result = 0
# for i in range(1, 11, 1):
#   result = result + i --> result = 0 + 1
#   result = result + i --> result = 1 + 2
# ....
#   result = result + i --> result = 36 + 9
#   result = result + i --> result = 45 + 10
# return result

55

In [49]:
print(func_6(end=100))

5050

In [50]:
# 1부터 100까지의 누적합 도중 합계가 3000이 넘어가는 최초의 숫자는 몇일까?

# 합계 초기값을 지정 0
sum_result = 0

for i in range(1, 101, 1):
    sum_result += i
    # 합계가 3000보다 큰 경우
    if sum_result > 3000:
        break
    print(i)
    print(sum_result)

1
1
2
3
3
6
4
10
5
15
6
21
7
28
8
36
9
45
10
55
11
66
12
78
13
91
14
105
15
120
16
136
17
153
18
171
19
190
20
210
21
231
22
253
23
276
24
300
25
325
26
351
27
378
28
406
29
435
30
465
31
496
32
528
33
561
34
595
35
630
36
666
37
703
38
741
39
780
40
820
41
861
42
903
43
946
44
990
45
1035
46
1081
47
1128
48
1176
49
1225
50
1275
51
1326
52
1378
53
1431
54
1485
55
1540
56
1596
57
1653
58
1711
59
1770
60
1830
61
1891
62
1953
63
2016
64
2080
65
2145
66
2211
67
2278
68
2346
69
2415
70
2485
71
2556
72
2628
73
2701
74
2775
75
2850
76
2926

In [51]:
# 1부터 1씩 증가시켜서 누적합이 15000이 되는 순간이 숫자가 몇인가?
sum_result = 0

for i in range(1, 500, 1):
    sum_result += i
    if sum_result > 15000 :
        break
    
print((i))
print(sum_result)

173
15051

In [53]:
i = 1
sum_result = 0

while True:
    sum_result += i
    if sum_result > 150000:
        break
    i += 1
print(i)
print(sum_result)

548
150426

In [60]:
# 함수 생성
# 매개변수 2개 생성
# 매개변수 사이의 값들의 누적합을 출력하는 함수
def func_7(x, y):
    # 합계 초기 값은 0으로 지정
    result = 0
    # x보다 y가 큰 경우 (ex. x가 1이고 y가 10 -> 1부터 10까지의 누적합)
    if x < y: 
        for i in range(x, y+1, 1):
            result += i
    # x보다 y가 작거나 같은 경우
    else:
        for i in range(y, x+1, 1):
            result += i
            
    return result

In [61]:
print(func_7(1, 10))

55

In [62]:
print(func_7(5, 5))

5

In [69]:
def func_8(x, y):
    result = 0
    
    # 시작값이 x와 y중 작은 값
    # 종료값은 x와 y중 큰 값에 + 1
    # 숫자 데이터들 중 가장 작은 데이터를 출력하는 함수 : min()
    # 숫자 데이터들 중 가장 큰 데이터를 출력하는 함수 : max()
    for i in range(min(x,y), max(x,y)+1, 1):
        result += i
    return result

In [70]:
print(func_8(1, 10))
print(func_8(10, 1))
print(func_8(5, 5))

55
55
5

In [80]:
min(3, 10, 1)

1

In [85]:
# 인자의 개수가 가변인 경우의 함수를 생성
def func_9(*args):
    # print(type(args))
    # print(args)
    # print(len(args))
    # 인자값들 중 첫번째 데이터를 변수에 대입
    result = args[0]
    # 인자 값들 중 두번째 데이터부터 반복을 하는 반복문 생성
    for i in range(1, len(args), 1):
        # result와 args[i] 항목을 비교
        if result > args[i]:
            result = args[i]
    return result

# args = (50, 49, 55, 42)
# result = 50
# for문에서 3번 반복 (시작값 1, 종료값 4, 증가값 1)
# result > args[1] ( 50 > 49 ) --> True
#  result = args[1]  ( result = 49 )
# result > args[2] ( 49 > 55 ) --> False
#   아무 행동도 하지 않는다. ( reesult = 49)
# result > args[3] ( 49 > 42 )  --> True
# result = args[3] ( result = 42 )
# for문이 종료
# return resulr (return 42)

In [86]:
func_9(1,2,3,4,5)
func_9(2,4,6,8)
func_9(1,2,3,4,5,6,7,8,9,10)

1

In [87]:
print(func_9(50, 49, 55, 42))

42

### 예재문제
1. 함수를 생성 -> 인자의 개수를 가변
2. 인자값의 평균 값을 출력을 하는 함수
    1. 모든 인자값들을 더한다.
    2. 더한 데이터를 인자의 개수로 나눠준다.
    3. 나온 결과값을 되돌려준다.

In [98]:
def func_10(*a):
    # *표시는 인자값이 여러개 들어 온다(가변으로) 적용
    
    
    #case1
    # # 모든 인자값을 더한다. (합계라는 초기값 0)
    result = 0
    # for i in range(0, len(a), 1):
    # # i의 의미는 자료형 데이터의 위치
    # result = result + a[i]
    # case2
    for i in a:
    # i의 의미는 자료형 데이터의 각 원소의 값
    result += i
    # case3
    # result = sum(a)
    
    
    # 합계 인자의 개수만큼 나눠준다.
    result /= len(a)
    # 결과값을 되돌려준다.
    return result

In [106]:
func_10(1,2,3,4,5,6,7,8,9,10)

5.5

In [108]:
print(func_10(1,2,3,4,5,6,7,8,9,10))

5.5

In [123]:
def func_11(*a):
    result = 0
    for i in range(0, len(a), 1):
        result = result + a[i]
        result /= len(a)
    return result

In [124]:
func_11(1,2,3,4,5,6,7,8,9,10)

1.0987654321

In [132]:
def func_12(*a):
    for i in a:
        result += i
        result /= len(a)
    return result

In [133]:
func_12(1,2,3,4,5,6,7,8,9,10)

UnboundLocalError: cannot access local variable 'result' where it is not associated with a value

In [ ]:
def func_13(*a):
    result = sum(a)
      result /= len(a)

In [125]:
_list = (22,11,33,88)

In [127]:
for i in range(len(_list)):
    print(_list[i])

22
11
33
88

In [128]:
for i in _list:
    print(i)

22
11
33
88

In [129]:
# in은 연산자 : 비교 연산자 (포함 유무)
10 in [11,50,70]

False

In [130]:
11 in [11,50,70]

True

In [135]:
_list= [11,50,70]
(11 -- _list[0]) or (11 -- _list[1]) or (11 -- _list[2])

22

In [143]:
# 인자의 개수가 가변이 아닌 형태의 함수를 생성
# 매개변수의 자료형 데이터를 인자값으로 입력하는 경우

# 자료형 데이터를 입력받아 각 원소들의 제곱된 값을 새로운 리스트로 생성하여 되돌려준다.
def func_11(x):
    # x는 자료형 데이터가 들어온다.
    
    # 결과값은 새로운 리스트를 생성하여 값들을 추가
    result = []
    
    # x의 원소들을 하나씩 추출하여 제곱한 뒤 result에 추가
    i = 0
    while i < len(x):
        data = x[i] ** 2
        result.append(data)
        i += 1
        
    return result

In [144]:
print(func_11([1,2,3,4]))

[1, 4, 9, 16]

In [145]:
# map 함수
# map({호출할 함수명}, {자료형 데이터})

# 일반 함수 생성
def change(x):
    print(type(x))
    result = x ** 2
    return result

In [147]:
list(map(
    change, [1,2,3,4]
))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

[1, 4, 9, 16]

In [148]:
# lambda 함수 : 함수를 생성함과 동시에 호출
# lambda 매개변수명 : 실행될 코드
list(
    map(
        lambda x : x ** 2, 
        [1,2,3,4]
    )
)

[1, 4, 9, 16]

In [150]:
def change2(a):
    result = a ** 2
    return result

In [153]:
_list = [1,2,3,4]

res = []

for i in _list:
    # print(i)
    res.append(change2(i))
print(res)

[1, 4, 9, 16]

In [161]:
_list = [4,3,2,1]

res = []

for i in range(0, len(_list), 1):
    print("index : ", i)
    print("value : ", _list[i])

index :  0
value :  4
index :  1
value :  3
index :  2
value :  2
index :  3
value :  1

In [162]:
_list = ["ofensive", "defence", "none"]

res = []

for i in range(0, len(_list), 1):
    print("index : ", i)
    print("value : ", _list[i])

index :  0
value :  ofensive
index :  1
value :  defence
index :  2
value :  none

In [163]:
_list = [1,2,3,4]

res = []

for i in range(0, len(_list), 1):
    data = change2(_list[i])
    res.append(data)

print(res)

[1, 4, 9, 16]

### 변수의 종류
1. 전역 변수
    - 어디서든 사용이 가능한 변수
    - 함수의 내부에서나 외부에서 어디서든 사용이 가능
2. 지역 변수
    - 해당하는 지역에서만 사용이 가능한 변수
    - 함수 내부, 클래스 내부에서 생성한 변수들을 지역 변수
    - 해당하는 지역에서 벗어나면 사용이 불가능한 휘발성 변수
3. 매개 변수
    - 함수를 생성할 때 함수 내부에서 사용하는 변수의 이름
    - 해당하는 함수에서만 사용이 가능
    - 함수 외부에서는 사용이 불가능

In [164]:
# 전역변수를 생성

test_a = "Hello"

In [165]:
print(test_a)

Hello

In [170]:
# 지역 변수 생성
def func_12():
    func_12_result ="World"
    print(func_12_result)
    print(test_a)
    return test_a + func_12_result

In [171]:
# 새로운 전역변수를 생성
test_b = func_12()

World
Hello

In [172]:
print(test_a)
print(test_b)
print(func_12_result)

Hello
HelloWorld

NameError: name 'func_12_result' is not defined

In [174]:
def func_13(input_a, input_b):
    result = input_a + input_b
    return result

In [175]:
test_c = func_13(10,5)
print(test_c)

15